# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\laura\OneDrive\Dokumente\JKU\PR DKE\Vehicle Routing\backend\routing\Vehicle-Routing-new\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
